/* Import Google Font "Poppins" */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Reset default styles and apply Poppins font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Ensure html and body cover full height */
html {
  height: 100%;
  scroll-behavior: smooth;
  background-image: url("../assets/HomeAssetMain.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* Background gradient for the body */
body {
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
  background-image: url("../assets/HomeAssetMain.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.container {
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust background color and opacity as needed */
  border-radius: 20px; /* Adjust border radius as needed */
  backdrop-filter: blur(10px); /* Adjust blur radius as needed */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better visibility */
}

/* Root container for proper footer placement */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

